<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>

 <!-- Bootstrap -->
<link href="library/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="library/bootstrap/css/bootstrap.css" type="text/css"/>
 <link href="library/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen">

     
     <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */     	
      }
    </style>  
     
    
</head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Walking Tracker</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <!--li class="<?php echo $activeHome ?>"><a href="listwalks.php">Home</a></li-->
              <li  class=""><a href="listwalks.php">List Walks</a></li>
              <li  class="<?php echo $activeInsert ?>"><a href="insert.php">Add Walk</a></li>
                    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Routes<b class="caret"></b></a>
        <ul class="dropdown-menu">
         <li  class=""><a href="listroutes.php">List Routes</a></li>
              <li  class=""><a href="insertroute.php">Add Route</a></li>                          
        </ul>
      </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Graph<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li> <a href="graphkm.php">Line Graph Distance</a></li>
                  <li> <a href="graphmin.php">Line Graph Time</a></li>
                  <li> <a href="graphkmbar.php">Bar Graph Distance</a></li>
                  <li> <a href="graphminbar.php">Bar Graph Time</a></li>
                  <li> <a href="graphspeed.php">Line Graph Speed</a></li>
                  <li> <a href="graphcal.php">Line Graph Calories</a></li> 
                  <li> <a href="graphplaces.php">Pie Graph Places</a></li> 
                </ul>
              </li>        
               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li  class=""><a href="walksrep.php">Walks Report</a></li>                           
                  <li  class=""><a href="exportToPDF.php">Export Report to PDF</a></li>                          
                  <li  class=""><a href="exportToCSV.php">Export Walks To CSV</a></li>                           
                </ul>
              </li> 
              
              
               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<b class="caret"></b></a>
                <ul class="dropdown-menu">
              	  <li  class=""><a href="colophon.php">Colophon</a></li> 
              	  <li  class=""><a href="logout.php">Logout</a></li> 
              
                </ul>
              </li> 
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
